nav.flex(aria-label="Breadcrumb")
  ol.inline-flex.items-center.space-x-1(class="md:space-x-2 rtl:space-x-reverse")
    li.inline-flex.items-center
      a.inline-flex.items-center.text-sm.font-medium.text-gray-700(class="hover:text-blue-600 dark:text-gray-400 dark:hover:text-white" href="/")
        svg.w-3.h-3(
          viewBox="0 0 20 20" 
          fill="currentColor" 
          xmlns="http://www.w3.org/2000/svg" 
          aria-hidden="true" 
          class="me-2.5"
          )
          path(
            d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"
            )
        | الصفحة الرئسية
    li.flex.items-center
        svg.w-3.h-3.text-gray-400.mx-1(
          viewBox="0 0 6 10" 
          fill="none" 
          xmlns="http://www.w3.org/2000/svg" 
          aria-hidden="true" 
          class="rtl:rotate-180"
          )
          path(
            d="m1 9 4-4-4-4" 
            stroke-width="2" 
            stroke-linejoin="round" 
            stroke-linecap="round" 
            stroke="currentColor"
            )
        a.ms-1.text-sm.font-medium.text-gray-700(class="hover:text-blue-600 md:ms-2 dark:text-gray-400 dark:hover:text-white" href=service.url) #{service.title}
    li(aria-current="page")
      .flex.items-center
        svg.w-3.h-3.text-gray-400.mx-1(
          viewBox="0 0 6 10" 
          fill="none" 
          xmlns="http://www.w3.org/2000/svg" 
          aria-hidden="true" 
          class="rtl:rotate-180"
          )
          path(
            d="m1 9 4-4-4-4" 
            stroke-width="2" 
            stroke-linejoin="round" 
            stroke-linecap="round" 
            stroke="currentColor"
            )
        span.ms-1.text-sm.font-medium.text-gray-500(class="md:ms-2 dark:text-gray-400") #{service.name}