footer.text-gray-600.body-font
  .container.px-5.py-24.flex.flex-wrap.flex-col(class="md:items-center lg:items-start md:flex-row md:flex-nowrap")
    .w-64.flex-shrink-0(class="md:mx-0")
    .flex-grow.flex.flex-wrap.-mb-10.mt-10(class="md:pl-20 md:mt-0")
      .w-full.px-4(class="lg:w-1/2 md:w-1/2")
        h2.title-font.font-medium.text-gray-900.tracking-widest.text-sm.mb-3 من نحن
        p.list-none.mb-10 وكالة أبو جعفر للسفر والسياحة رؤيتنا خلق واقع مبني على الإنجاز يسعد العملاء تحقيقا للإستمرارية في شتى مجالات السفر والسياحة محليا وعالميا
      .w-full.px-4(class="lg:w-1/4 md:w-1/2")
        h2.title-font.font-medium.text-gray-900.tracking-widest.text-sm.mb-3 روابط مهمة
        nav.list-none.mb-10
          li
            a.text-gray-600(class="hover:text-gray-800") من نحن
          li
            a.text-gray-600(class="hover:text-gray-800") اتصل بنا
          li
            a.text-gray-600(class="hover:text-gray-800") الخدمات
          li
            a.text-gray-600(class="hover:text-gray-800") الوجهات
      .w-full.px-4(class="lg:w-1/4 md:w-1/2")
        h2.title-font.font-medium.text-gray-900.tracking-widest.text-sm.mb-3 تواصل معنا
        nav.list-none.mb-10
          li
            a.text-gray-600(class="hover:text-gray-800") فيس بوك
          li
            a.text-gray-600(class="hover:text-gray-800") تويتر
          li
            a.text-gray-600(class="hover:text-gray-800") انستاجرام
          li
            a.text-gray-600(class="hover:text-gray-800") واتساب
  .bg-gray-100
    .container.mx-auto.py-4.px-5.flex.flex-wrap.flex-col(class="sm:flex-row")
      p.text-gray-500.text-sm.text-center(class="sm:text-left")
        |  جميع الحقوق محفوظة لوكالة ابوجعفر للسفر والسياحة 2024 ©
      //- soical media  
      span.inline-flex.mt-2.justify-center(class="sm:mr-auto sm:mt-0 sm:justify-end")
        a.text-gray-500
          svg.w-5.h-5(
            viewBox="0 0 24 24" 
            stroke-width="2" 
            stroke-linejoin="round" 
            stroke-linecap="round" 
            fill="black"
            )
            path(d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z")
        a.ml-3.text-gray-500
          svg.w-5.h-5(
            viewBox="0 0 24 24" 
            stroke-width="2" 
            stroke-linejoin="round" 
            stroke-linecap="round" 
            fill="black"
            )
            path(
              d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"
              )
        a.ml-3.text-gray-500
          svg.w-5.h-5(
            viewBox="0 0 24 24" 
            stroke-width="2" 
            stroke-linejoin="round" 
            stroke-linecap="round" 
            stroke="currentColor" 
            fill="black"
            )
            rect(
              ry="5" 
              rx="5" 
              y="2" 
              x="2" 
              height="20" 
              width="20"
              )
            path(d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01")
        a.ml-3.text-gray-500
          svg.w-5.h-5(
            viewBox="0 0 24 24" 
            stroke-width="0" 
            stroke-linejoin="round" 
            stroke-linecap="round" 
            stroke="currentColor" 
            fill="black"
            )
            path(
              d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z" 
              stroke="none"
              )
            circle(
              stroke="none" 
              r="2" 
              cy="4" 
              cx="4"
              )